.container-fluid {
  padding: 0;
  margin: 0;
}

.block {
  margin: 0;
  padding: 30px 15px 60px 15px;
  line-height: 26px;
}

.swiper-slide {
  display: block;
}

.swiper-slide img {
  margin-top: 44px;
  pointer-events: none;
  height: 550px;
  object-fit: cover;
}

.avatar {
  width: 75px;
  border-radius: 50%;
  height: auto;
}

.reviews {
  font-size: 16px;
  margin-left: 8px;
  color: #707070;
  margin-bottom: 8px;
  display: inline-block;
}

ion-icon {
  color: #9fc131ff;
  vertical-align: text-top;
}

.name {
  color: #333;
  letter-spacing: 1px;
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: 500;
  line-height: 1.1;
}

.location {
  color: #707070;
  font-size: 16px;
}

.phone {
  font-size: 16px;
  margin-top: 10px;
  display: inline-block;
}

.phone a {
  text-decoration: none;
  color: #9fc131ff;
}

.details-container {
  background-color: #fff;
  border: 1px solid #d3d3d3;
  padding: 15px;
  margin-bottom: 30px;
  font-size: 16px;
}

.title-review {
  padding: 10px 20px;
  background-color: #101820ff;
  font-size: 20px;
  color: #9fc131ff;
  margin-bottom: 80px;
  margin-top: 20px;
}

.detail-wrapper {
  margin-bottom: 10px;
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 10px;
  margin-left: 15px;
  margin-right: 15px;
  width: 100%;
  line-height: 26px;
}

.detail-label {
  text-transform: uppercase;
  font-weight: bold;
  color: #333;
  display: block;
}

.detail-value {
  color: #707070;
  display: block;
}

.detail-value a {
  color: #9fc131ff;
}

.description {
  margin-bottom: 0px;
}

.job-manager-info {
  border-top: 3px solid #1e85be;
  padding: 1em 2em 1em 3.5em;
  margin: 0 15px 2em 15px;
  position: relative;
  color: #666;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}

.job-manager-info:before {
  color: #1e85be;
  content: 'i';
  font-family: Times, Georgia, serif;
  font-style: italic;
  display: inline-block;
  position: absolute;
  top: 1em;
  left: 1.5em;
}

.comment {
  padding: 15px 30px 30px 30px;

  .space {
    width: 91px;
  }

  @media (max-width: 768px) {
    .space {
      display: none;
    }
  }

  .avatar {
    display: inline-block;
    margin-right: 16px;
    vertical-align: top;
  }

  .comment-details {
    display: inline-block;
    vertical-align: middle;
  }

  span {
    display: block;
  }

  .comment-author {
    display: flex;
  }

  .comment-author-name {
    font-weight: 600;
    color: #333;
  }

  .comment-date {
    font-size: 14px;
    color: #666;
    margin-top: 9px;
    margin-bottom: 7px;
  }

  .line-up {
    margin-left: 0px;
    margin-right: 0px;
  }

  .comment-content {
    font-size: 14px;
    border: 1px solid #d3d3d3;
    margin-top: 8px;
    padding: 15px 20px 10px 20px;
    flex-grow: 1;
    max-width: none;

    h3 {
      font-size: 20px;
      margin-bottom: 9px;
      letter-spacing: 1px;
    }

    .rating {
      margin-bottom: 11px;
    }

    ion-icon {
      font-size: 20px;
      margin-right: 1px;
    }

    p {
      margin-bottom: 10px;
    }

    img.wp-smiley,
    img.emoji {
      display: inline !important;
      border: none !important;
      box-shadow: none !important;
      height: 1em !important;
      width: 1em !important;
      margin: 0 0.07em !important;
      vertical-align: -0.1em !important;
      background: none !important;
      padding: 0 !important;
    }
  }
}
