<ion-content [fullscreen]="false">
    <div class="container-fluid">
        <div class="row banner-img-color">
            <div class="col-12 banner-img"></div>
        </div>
    </div>
    <div class="container page-section">
        <div class="block">
            <div class="row">
                <div class="col-12">
                    <h2 class="page-title">{{"login.page.title"| translate}}</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ion-label for="username">{{"login.page.usernameEmail"| translate}}</ion-label>
                    <ion-input autocomplete="off" inputmode="text" type="text" name="username" id="username"
                        [(ngModel)]="username">
                    </ion-input>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <ion-label for="password">{{"login.page.password"| translate}}</ion-label>
                    <ion-input class="valid" autocomplete="off" inputmode="text" type="password" name="password"
                        id="password" [(ngModel)]="password"></ion-input>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <ion-button (click)="onLogin()" size="default" color="dark" expand="full" type="submit"><span
                            class="green">{{"login.page.loginBtn"| translate}}</span></ion-button>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a href="https://www.check-fit.com/en/password-reset/"
                        class="forgot-password">{{"login.page.forgotPassword"| translate}}</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <app-footer></app-footer>
    </div>
</ion-content>