<ion-app>
  <ion-menu contentId="main-content" type="overlay">
    <ion-content>
      <ion-list id="inbox-list">
        <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
          <ion-item (click)="selectedIndex = i" routerDirection="root" [routerLink]="[p.url]" lines="none"
            detail="false" [class.selected]="selectedIndex == i">
            <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-outline'"></ion-icon>
            <ion-label>{{ p.title | translate:(child |translate) }}</ion-label>
          </ion-item>
        </ion-menu-toggle>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-header [translucent]="true">
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      <ul class="toolbar-ul">
        <li>
          <img (click)="changeLanguageToGerman()" src="../../assets/images/flags/de_DE.png" width="18" height="12"
            alt="de_DE" title="German">
        </li>
        <li>
          <img (click)="changeLanguageToEnglish()" src="../../assets/images/flags/en_US.png" width="18" height="12"
            alt="en_US" title="English">
        </li>
      </ul>
    </ion-toolbar>
  </ion-header>
  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>