/* Cuxstom css */

.container-fluid {
  padding: 0;
  margin: 0;
}

.container {
  padding: 0;
}

.block {
  margin: 0;
  padding: 0 15px;
  line-height: 26px;
}

.page-section {
  padding-top: 70px;
  padding-bottom: 70px;
}

.page-title {
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 15px;
  font-size: 30px;
  color: #9fc131ff;
  text-shadow: -1px -1px 0 #101820ff, 1px -1px 0 #101820ff, -1px 1px 0 #101820ff,
    1px 1px 0 #101820ff;

  font-family: 'circular';
  letter-spacing: 1px;
}

ion-label {
  text-transform: uppercase;
  color: #101820ff;
  font-size: 15px;
  line-height: 22px;
  font-weight: 600;
  margin-top: 17px;
  margin-bottom: 10px;
  display: block;
}

ion-input {
  border: 1px solid #ddd !important;
  font-size: 15px;
  --padding-start: 12px;
  --padding-end: 12px;
}

.green {
  color: #9fc131ff !important;
  text-transform: none;
  font-size: 15px;
  padding: 16px 20px;
}

ion-button {
  margin-top: 30px;
  margin-bottom: 25px;
}

